// logo

.logo {
    color: var(--color-hover);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;

    margin-right: 93px;
}

.logo__text--black {
    color: var(--studio-color);
}

// logo footer

.logo-footer {
    display: inline-block;
    
    color: var(--color-hover);
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-decoration: none;
    
    margin-bottom: 20px;
    }

    .logo-white {
        color: var(--footer-studio);
        }