:root {
--color-text: #757575;
--color-h2-h3: #212121;
--color-hover: #2196f3;
--link-color: #212121;
--studio-color: black;
--hero-background-color: #2f303a;
--hero-text-color: #ffffff;
--background-team-color: #f5f4fa;
--background-footer: #2f303a;
--footer-studio: white;
--footer-contacts: #ffffff99;
--border-color: #ececec;
--button-hover: #188ce8;
--border-card: #eeeeee;
}

body {
    background-color: var(--hero-text-color);
    font-family: 'Roboto', sans-serif;
    color: var(--color-h2-h3);
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

