// section benefits

// .benefits-section {
//     padding-bottom: 0px;
// }

.benefits__list {

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        // justify-content: center;
    }
}

.benefits__item {

    width: 100%;

    @include mq(mobile-only) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @include mq(tablet) {
      width: 354px;
  
      &:nth-child(odd) {
        margin-right: 30px;
      }
  
      &:nth-child(-n + 2) {
        margin-bottom: 30px;
      }
    }
  
    @include mq(desctop) {
      width: 270px;
  
      &:nth-child(-n + 2) {
        margin-bottom: 0;
      }
  
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

.benefits__icon {
    display: flex;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;
    background-color: var(--background-team-color);

    align-items: center;
    justify-content: center;
}

.benefits__subtitle {
    color: var(--link-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 10px;

    @include mq(mobile-only) {
        text-align: center;
    }
}

.benefits__text-subtitle {
    color: var(--color-text);
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
    
