// clients

.subtitle-clients {
    color: #212121;
    font-family: inherit;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;

    @include mq(not-desctop) {
        font-size: 28px;
        margin-bottom: 30px;
    }
}

.list-clients {
  margin: 0;
  padding-inline-start: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  flex-wrap: wrap;
}

.client {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      border-color: #2196f3;
}

@include mq(mobile-only) {
    width: calc((100% - 30px) / 2);
    height: 92px;
  }

  @include mq(tablet) {
    width: 226px;
    height: 92px;
  }

  @include mq(desctop) {
    flex-basis: calc((100% - 5 * 30px) / 6);
  }
}

.client:hover .icon-client,
.client:focus .icon-client {
    fill: #2196f3;
}

.icon-client {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.link-client {

    &:hover .icon-client,
    &:focus .icon-client {
        fill: var(--color-hover);
    }
}

// .list-clients {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .client:not(:last-child) {
//     margin-right: 30px;
// }

// .link-client {
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 170px;
    // height: 92px;
    // border: 1px solid #afb1b8;
    // border-radius: 4px;

    // transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

    // &:hover {
    //     border: 1px solid var(--color-hover);
    // }
// }



