// filter button

.list-button {
    display: flex;
    justify-content: center;

    margin-bottom: 50px;
}

.list-btn:not(:last-child) {
    margin-right: 8px;
}

.btn {
    color: var(--color-h2-h3);
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    background-color: var(--background-team-color);
    cursor: pointer;

    border: none;
    border-radius: 4px;

    padding: 6px 22px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

.btn {
    &:hover,
    &:focus {
        background-color: var(--color-hover);
        color: #ffffff;
    }
}

.btn {
    &:hover,
    &:focus {
        color: var(--hero-text-color);
    }
}