// hero

.section-hero {
    background-color: var(--hero-background-color);

    background-repeat: no-repeat;
   
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 200px;

    @include mq(mobile) {
        max-width: 480px;
        background-size: 480px 400px;
    }

    @include mq(tablet) {
        max-width: 768px;
        background-size: 768px 400px;
    }

    @include mq(desctop) {
        max-width: 1600px;
        background-size: 1600px 600px;
    }

    @include mq(not-desctop) {
        padding-top: 118px;
        padding-bottom: 118px;
    }

    @include mq(mobile) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-mob.jpg');
    }

    @include mq(retina) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-mob@2x.jpg');
    }

    @include mq(tablet) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-tab.jpg');
    @include mq(retina) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-tab@2x.jpg');
    }


    @include mq(desctop) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-desc.jpg');
    @include mq(retina) {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../../images/hero/hero-desc@2x.jpg');
    }
    }
}
}


.hero-title {
    color: var(--hero-text-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    width: 696px;
    letter-spacing: 00.06em;
    text-align: center;
    margin-bottom: 30px;

    margin-left: auto;
    margin-right: auto;

    @include mq(not-desctop) {
    font-size: 26px;
    line-height: 1.62;
    width: 360px;
    }
}

.button-title-hero {
    display: block;
    border: none;
    border-radius: 4px;

    background-color: var(--color-hover);
    color: var(--hero-text-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 10px 32px;
    margin-left: auto;
    margin-right: auto;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--button-hover);
    }
    
}

