
.burger {

    margin-left: auto;

    @include mq(tablet) {
            display: none;
        }
    }

.menu-btn {
    background-color: transparent;
    border: none;

    & .icon-close {
        display: none;
    }

    &.is-open .icon-close {
        display: block;
    }

    &.is-open .icon-menu {
        display: none;
    }
}

.menu-container {
    display: none;

    position: absolute;
    top: 100%;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: #FFFFFF;

    padding: 48px 83px 48px 40px;
    
    &.is-open {
        display: block;
    }
}

