// section team

.card-team {
    background-color: var(--hero-text-color);

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-team {
    background-color: var(--background-team-color);
}

.subtitle-team {
    color: var(--color-h2-h3);
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 50px;
}

.list-team {
    display: flex;
    justify-content: center;
}

.card-team:not(:last-child) {
    margin-right: 30px;
}

.subtitle-name {
    color: var(--color-h2-h3);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 10px;
}

.command-description {
    padding-top: 30px;
    padding-bottom: 30px;
}

.text-team {
    color: var(--color-text);
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;

    margin-bottom: 16px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social-team:not(:last-child) {
    margin-right: 10px;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #ffffff;
    border-radius: 50%;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
    background-color: #2196f3;
}
}

.social-link {

    &:hover .social-icon,
    &:focus .social-icon {
        fill: #ffffff;
    }
}

.social-icon {
    fill: #afb1b8;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}